<template>
  <v-content>
    <v-container fluid>
      <v-layout align-center justify-center>
        <v-flex xs-12 md8>
          <v-card class="mb-3">
            <v-card-text>
              <h1>My Commonalty</h1>
            </v-card-text>
          </v-card>
          <v-progress-linear v-if="loading || occurents.loading" color="green" :indeterminate="loading"></v-progress-linear>
          <commonalty-view v-if="!loading && !creatorButton" @nextDay="nextDay($event)" @updateToDb="updateToDb($event)"
          :commonaltyData="commonalty" :occurentsData="occurents.Occurents"></commonalty-view>
          <v-btn v-if="creatorButton" @click="commonalty.createCommonalty() ; creatorButton=false" large dark block class="mt-5" color="purple">Create commonalty</v-btn>
        </v-flex>
      </v-layout>
      <v-dialog v-if="disabledCommonalty" v-model="disabledCommonalty" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>
            <b>Your commonalty has been abandoned.</b>
          </v-card-title>
          <v-card-text>
            Try again next time.
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green" dark @click="goBack()">
              Ok
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-content>
</template>

<script>
import firebase from 'firebase'
import store from './../../store/index.js'
import Commonalty from './myCommonalty.js'
import Occurents from './occurents.js'
import commonaltyView from './../../components/commonaltyView/commonaltyView'
export default {
  name: 'MyCommonalty',
  components: {commonaltyView},
  data: () => ({
    commonalty: new Commonalty(),
    occurents: new Occurents(),
    loading: true,
    disabledCommonalty: false,
    creatorButton: false
  }),

  methods: {
    nextDay (commonalty) {
      this.commonalty.readCommonalty(commonalty)
      if (this.commonalty.balance < 0) {
        this.commonalty.unActive()
        this.disabledCommonalty = true
      }
      else {
        this.updateToDb(commonalty)
      }
    },

    updateToDb (commonalty) {
      let db = firebase.firestore()
      db.settings({timestampsInSnapshots: true})

      db.collection('accounts').doc(store.getters['user/getUserUid'])
      .collection('commonalties').doc('active').set(commonalty.getCommonalty())
        .then(data => {},
        err => {
          console.log(err)
        }
      )
    },

    goBack () {
      this.$router.push('/dashboard')
    }
  },

  async created () {
    let usr = store.getters['user/getUserUid']
    let db = firebase.firestore()
    db.settings({timestampsInSnapshots: true})
    db.collection('accounts').doc(usr).collection('commonalties').doc('active').get()
      .then(doc => {
        if (!doc.exists) {
          this.creatorButton = true
          this.loading = false
        }
        else {
          store.dispatch('commonalty/setCommonalty', doc.data())
          this.commonalty.readCommonalty(store.getters['commonalty/getCommonalty'])
          this.loading = false
        }
      })
      .catch(err => {
        console.log('wooo ale error', err)
      })
  }
}
</script>
