<template>
  <v-content>
    <v-container fluid>
      <v-layout align-center justify-center>
        <v-flex xs-12 md-8>
          <v-card>
            <v-card-text>
              <v-layout row wrap>
                <v-flex sm3 xs12>
                  <v-avatar v-if="account().avatar == 'none'" size="128" color="white" @click="changeAvatar()">
                    <v-icon size="128">account_circle</v-icon>
                    <span class="edit">Click to upload</span>
                  </v-avatar>
                  <v-avatar size="128" color="white" v-else>
                    <img style="border:solid 1px white; object-fit:cover;" :src="account().avatar">
                  </v-avatar>
                  <input
                    v-if="account().avatar == 'none'"
                    type="file"
                    style="display: none"
                    ref="image"
                    accept="image/*"
                    @change="onFilePicked"
                  >
                </v-flex>
                <v-flex sm9 sx12>
                  <h1>Account</h1>
                  <p><b>e-mail: </b> {{account().email}}<br/>
                  <b>Display: </b> {{account().display}}<br/>
                  <b>Survived commonalties: </b> {{account().win}}<br/>
                  </p>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <template v-if="avatarUploading==true">
            <v-progress-linear color="green" v-model="progressUpload"></v-progress-linear>
          </template>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import store from './../store/index.js'
import firebase from 'firebase'
import { account } from '../store/account.js'

export default {
  name: 'Account',
  data: () => ({
    progressUpload: 0,
    imageName: '',
		imageUrl: '',
    imageFile: '',
    avatarUploading: false,
    progressUpload: 0
  }),
  methods: {
    account () {
      return store.getters['account/getAccount']
    },
    changeAvatar () {
      this.$refs.image.click()
    },
    onFilePicked (e) {
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
          this.imageFile = files[0]
          this.avatarUploading = true
          let uploadTask = firebase.storage().ref().child('avatar/' + this.account().id).put(files[0])
          uploadTask.on('state_changed',(snapshot) => {
            this.progressUpload = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          })
          uploadTask.then(() => {
            firebase.storage().ref().child('avatar/' + store.getters['account/getAccountId']).getDownloadURL().then(
              (data) => {
                store.dispatch('account/setAccountAvatar', data)
                this.avatarUploading = false
              })
          })
          .catch((err) => {
            console.log(err);
          })
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
    }
  }
}
</script>

<style scooped>
.edit {
  position: fixed;
  transition: linear 0.2s;
  opacity:0;
  font-size: 15px;
  font-weight: bold;
  margin-top: -16px;
}
i:hover {
  opacity: 0.5;
  cursor: pointer;
}
i:hover + .edit, .edit:hover {
  color:black;
  opacity: 1;
  transition: linear 0.2s;
  margin-top: -32px;
  cursor: pointer;
}
</style>
