<template>
  <v-content>
    <v-container fluid>
      <v-layout align-center justify-center>
        <v-flex xs-12 md-8>
          <v-card>
            <v-card-text>
              <h1>Inhabitiants</h1>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: 'Inhabitiants',
  data: () => ({
  })
}
</script>
