<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm6 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="light-green">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field @keyup.13="checkout()" v-model="email" color="green" prepend-icon="person" name="login" label="E-mail" type="text"></v-text-field>
                  <v-text-field @keyup.13="checkout()" v-model="password" color="green" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                  <h3 class="font-weight-bold hide-err" :class="{'show-err': error.valid}">{{ error.msg }}</h3>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="light-green" @click="checkout()" :loading="loading" class="white--text login-button">Login</v-btn>
                <router-link to="/register" class="signUp-button"><v-btn color="white">Register</v-btn></router-link>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import firebase from 'firebase'
import store from './../store/index.js'

export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: '',
    error: {
      valid: '',
      msg: ''
    },
    loading: false
  }),
  methods: {
    checkout () {
      this.loading = true
      this.error.valid = false
      if (this.email != '' && this.password != '') {
        this.error.valid = false
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
          async (user) => {
            store.dispatch('user/setUser', user)
            let usr = store.getters['user/getUserUid']
            let db = firebase.firestore()
            db.settings({ timestampsInSnapshots: true })
            await db.collection('accounts').doc(usr).get()
              .then(doc => {
                if (!doc.exists) {
                  console.log('no document!')
                  this.$router.push('/register')
                }
                else {
                  store.dispatch('account/setAccount', doc.data())
                  this.$router.replace('/dashboard')
                }
              })
              .catch(err => {
                console.log('error getting document', err)
              })
          },
          (err) => {
            this.loading = false
            this.error.valid = true
            if (err.code === 'auth/invalid-email') {
              this.error.msg = 'invalid e-mail!'
            } else if (err.code === 'auth/wrong-password') {
              this.error.msg = 'Wrong password!'
            } else if (err.code === 'auth/user-not-found') {
              this.error.msg = "Account with that e-mail doesn't exist. Do you wan't to create one?"
            } else if (err.code === 'auth/too-many-requests') {
              this.error.msg = 'Too many unsuccessful login attempts. Please refresh the page'
            }
          }
        )
      } else {
        this.error.valid = true
        this.error.msg = 'This fields cannot be empty!'
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .login-button {
    margin-right: 25px;
  }
  .signUp-button {
    text-decoration: none;
  }
  .hide-err {
    opacity: 0;
    margin-left: -10px;
    transition: linear 0.3s;
  }
  .show-err {
    opacity: 1;
    margin-left: 0;
    transition: linear 0.3s;
  }
</style>
