<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm6 md4>
            <v-card class="elevation-12">
              <v-toolbar>
                <v-toolbar-title>Register!</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text class="light-green">
                <v-form>
                  <v-text-field v-model="display" dark color="white" id="display" prepend-icon="lock"
                    name="display" label="Name" type="text"></v-text-field>
                  <v-text-field  v-model="email" dark color="white" prepend-icon="person" name="login"
                    label="E-mail" type="text"></v-text-field>
                  <v-text-field v-model="password" dark color="white" id="password" prepend-icon="lock"
                    name="password" label="Password" type="password"></v-text-field>
                  <v-text-field v-model="cpassword" dark color="white" id="cpassword" prepend-icon="lock"
                  name="cpassword" label="Confirm password" type="password"></v-text-field>
                  <h3 v-if="error.accCreated" class="white--text font-weight-bold">Account with that e-mail has been alredy created!</h3>
                  <h3 v-if="error.empty" class="white--text font-weight-bold">This fields cannot be empty!</h3>
                  <h3 v-if="error.passLen" class="white--text font-weight-bold">Password need to be longer than 6 characters!</h3>
                  <h3 v-if="error.pass" class="white--text font-weight-bold">Password didn't match!</h3>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="light-green" @click="checkout()" :loading="loading" class="white--text action-button">Register now!</v-btn>
                <router-link to="/login" class="back-button"><v-btn color="white">Log in!</v-btn></router-link>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import firebase from 'firebase'
import store from './../store/index'

export default {
  name: 'register',
  data: () => ({
    email: '',
    display: '',
    password: '',
    cpassword: '',
    error: {
      pass: false,
      empty: false,
      passLen: false,
      accCreated: false
    },
    loading: false
  }),
  methods: {
    checkout () {
      this.loading = true
      if (this.password === this.cpassword) {
        this.error.pass = false
        if (this.email.length > 5 && this.password != '' && this.display != '') {
          this.error.empty = false
          if (this.password.length > 5) {
            this.error.passLen = false
            firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
              (user) => {
                store.dispatch('user/setUser', user)
                let usr = store.getters['user/getUserUid']
                let db = firebase.firestore()
                db.settings({ timestampsInSnapshots: true })
                let newAccount = {
                  id: usr,
                  email: store.getters['user/getUserEmail'],
                  display: this.display,
                  created: new Date(),
                  win: 0,
                  avatar: 'none'
                }
                db.collection('accounts').doc(usr).set(newAccount).then(
                  account => {
                  },
                  err => {
                    console.log(err)
                  }
                )
                firebase.auth().signOut().then(
                  () => {
                    this.$router.push('/login')
                  }
                )
                this.error.accCreated = false
                this.loading = false
              },
              (err) => {
                if (err.code === 'auth/email-already-in-use') {
                  this.error.accCreated = true
                  this.loading = false
                }
              }
            )
          } else {
            this.error.passLen = true
            this.loading = false
          }
        } else {
          this.error.empty = true
          this.loading = false
        }
      } else {
        this.error.pass = true
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .action-button {
    margin-right: 25px;
  }
  .back-button {
    text-decoration: none;
  }
</style>
