<template>
  <v-layout align-center justify-center mt-3 row wrap>
    <v-flex xs12 sm10 md8 v-for="(occurent,index) in occurents" :key="index">
      <v-card class="mb-2">
        <v-card-title><b>{{occurent.name}}</b><v-spacer></v-spacer><v-btn icon @click="remove(index)"><v-icon>cancel</v-icon></v-btn></v-card-title>
        <v-card-text>
          {{occurent.description}} <br/>
          Character: {{occurent.character[0]}} - {{occurent.character[1]}} |
          Diligence: {{occurent.diligence[0]}} - {{occurent.diligence[1]}} <br/>
          <v-layout row wrap>
            <v-flex sm6>
              <b>Accept:</b>
              <v-list>
                <template v-for="(event,index_2) in occurent.accept">
                  {{event.type}}: {{event.value}}, Self: {{event.self}}, Random: {{event.random}} <br :key="index_2"/>
                </template>
              </v-list>
            </v-flex>
            <v-flex sm6>
              <b>Decline:</b>
              <v-list>
                <template v-for="(event,index_2) in occurent.decline">
                  {{event.type}}: {{event.value}}, Self: {{event.self}}, Random: {{event.random}} <br :key="index_2" />
                </template>
              </v-list>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'OccurentsIterator',
  props: ['occurents'],
  data: () => {
    return {}
  },

  methods: {
    remove (i) {
      this.$emit('remove', i)
    }
  }
}
</script>
