<template>
  <div class="mb-3">
    <v-layout row wrap>
      <template v-for="(person,index) in people">
        <v-flex xs12 sm3 md3 :key="index">
          <v-card class="ma-1">
            <v-card-text>
              <div class="icon-container">
                <v-icon v-if="!person.disactive" class="person-icon" :color="person.color">accessibility</v-icon>
                <v-icon v-else class="person-icon" color="grey">person.outline</v-icon>
              </div>
              <h3><b>Name:</b> {{person.number}}</h3>
              <b>Day:</b> {{person.day}}<br/>
              <b>Profit:</b> ${{person.profit}}<br/><b>Loss:</b> ${{person.loss}}<br/>
            </v-card-text>
            <v-card-actions>
              <v-btn block :disabled="person.event.done" color="light-blue" class="white--text" @click="viewAction(index)">
                <template v-if="!person.event.done">Daily action</template>
                <template v-else>Done</template>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </template>
    </v-layout>

    <v-dialog v-if="actionDialog" v-model="actionDialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          <b>{{people[activePerson].number}}: {{people[activePerson].event.current.name}}</b>
        </v-card-title>
        <v-card-text>
          {{people[activePerson].event.current.description}}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" dark @click="action(people[activePerson].event.current.accept);actionDialog = false">
            Accept
          </v-btn>
          <v-btn color="blue" dark @click="action(people[activePerson].event.current.decline) ;actionDialog = false">
            Decline
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'peopleIterator',
  props: ['people', 'reload'],
  data: () => {
    return {
      actionDialog: false,
      activePerson: 0
    }
  },

  methods: {
    viewAction (i) {
      this.actionDialog = true
      this.activePerson = i
    },
    action (data) {
      this.people[this.activePerson].event.done = true
      this.$emit('action', {effects: data, i: this.activePerson})
    }
  }
}
</script>

<style scooped>
  .person-icon {
    font-size: 5em;
  }
  .icon-container {
    text-align: center;
  }
</style>
