<template>
  <div id="app">
  <v-app id="inspire">
    <v-navigation-drawer fixed clipped class="grey lighten-4" v-if="hideNavigation" app v-model="drawer">
      <v-list dense class="grey lighten-4">
        <v-divider dark class="my-3"></v-divider>
        <v-list-tile>
          <v-list-tile-action><v-icon>location_city</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title class="black--text">City Build - {{ getDisplay() }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider dark class="my-3"></v-divider>
        <v-list-tile @click="redirect('my-commonalty')" ripple>
          <v-list-tile-action><v-icon>domain</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title class="grey--text">My Commonalty</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="redirect('leaderboard')" ripple>
          <v-list-tile-action><v-icon>list_alt</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title class="grey--text">Leaderboard</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="redirect('inhabitiants')" ripple>
          <v-list-tile-action><v-icon>people</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title class="grey--text">Inhabitiants</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider dark class="my-3"></v-divider>
        <v-list-tile @click="redirect('event-manager')" ripple v-if="admin()">
          <v-list-tile-action><v-icon>description</v-icon></v-list-tile-action>
          <v-list-tile-content><v-list-tile-title class="grey--text">Event Manager</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="light-green" class="white--text" v-if="hideNavigation" app fixed clipped-left>
      <v-toolbar-side-icon class="white--text" @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <span class="title ml-3 mr-5">City&nbsp;<span class="text">Build</span></span>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-avatar v-if="avatar()!='none'" slot="activator">
          <img :src="avatar()">
        </v-avatar>
        <v-avatar v-else color="light-green" slot="activator">
          <v-icon dark>account_circle</v-icon>
        </v-avatar>
        <v-list>
          <v-list-tile @click="redirect('account')">
            <v-list-tile-title><v-icon>account_box</v-icon>My Account</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="logOut()">
            <v-list-tile-title><v-icon>exit_to_app</v-icon> Log out</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <router-view/>
  </v-app>
</div>
</template>

<script>
import firebase from 'firebase'
import store from './store/index.js'

export default {
  name: 'App',
  store: store,
  data () {
    return {
      drawer: null
    }
  },
  methods: {
    logOut () {
      firebase.auth().signOut().then(
        () => {
          this.$router.push('/login')
        }
      )
    },
    redirect (path) {
      this.$router.push('/' + path)
    },
    getDisplay () {
      return store.getters['account/getAccountDisplay']
    },
    admin () {
      return store.getters['account/getAccount'].admin
    },
    avatar () {
      return store.getters['account/getAccount'].avatar
    }
  },
  computed: {
    hideNavigation () {
      return !(['Login', 'Register'].indexOf(this.$route.name) > -1)
    }
  }
}
</script>

<style>
.v-avatar > img {
  object-fit: cover;
}
</style>

