<template>
  <v-list two-line>
    <template v-for="(event, index) in eventsList">
      <v-list-tile
        :key="index"
        class="py-1">
        <v-list-tile-content>
          <v-layout row wrap>
            <v-flex sm6>
            <v-select
              :items="types"
              label="Type"
              v-model="event.type"
              @input="add(index,event)"
            ></v-select>
            </v-flex>
            <v-flex sm6>
              <v-text-field
                label="Value"
                required
                v-model="event.value"
                @input="add(index,event)"
              ></v-text-field>
            </v-flex>
            <v-flex sm4>
              <v-checkbox
                label="Self"
                v-model="event.self"
                color="green"
              ></v-checkbox>
            </v-flex>
            <v-flex sm4 v-if="!event.self">
              <v-checkbox
                label="Random"
                v-model="event.random"
                color="green"
              ></v-checkbox>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex sm2>
              <v-btn
                flat
                color="danger"
                icon
                @click="removeEvent(index)"
              ><v-icon>cancel</v-icon></v-btn>
            </v-flex>
          </v-layout>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider
        v-if="index + 1 < eventsList.length"
        :key="'d_' + index"
      ></v-divider>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'EventsIterator',
  props: ['events'],
  data: () => {
    return {
      eventsList: null,
      types: ['character', 'diligence', 'balance', 'people']
    }
  },

  methods: {
    add (index, event) {
      this.$emit('chg', {index, event})
    },
    removeEvent (index) {
      this.$emit('remove', index)
    }
  },

  created () {
    this.eventsList = this.events
  }
}
</script>

<style scooped>
.v-list__tile.theme--light {
  height: auto;
}
</style>
