<template>
  <div>
    <v-layout row wrap>
      <v-flex md12>
        <v-card md12 class="mb-3">
          <v-card-text>
            <v-layout row wrap>
              <v-flex sm3 v-if="reload"><b>Day:</b> {{ commonalty.day }}</v-flex>
              <v-flex sm3 v-if="reload"><b>Balance:</b> ${{ commonalty.balance }}</v-flex>
              <v-spacer></v-spacer>
              <v-flex sm2>
                <v-btn color="green" @click="nextDay()"
                :disabled="nextDayAble!=commonalty.people.length" small class="white--text ma-0">
                  Next day
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex md12>
        <peopleIterator v-if="reload" @action="action($event)" :people="commonalty.people"></peopleIterator>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import peopleIterator from '../peopleIterator/peopleIterator.vue'
export default {
  name: 'commonaltyView',
  props: ['commonaltyData', 'occurentsData'],
  components: {peopleIterator},
  data: () => {
    return {
      commonalty: null,
      occurents: null,
      reload: true,
      nextDayAble: 0
    }
  },

  methods: {
    nextDay () {
      this.reload = false
      setTimeout(() => {
        let valid = true
        this.commonalty.people.forEach(person => {
          if (person.event.done === false) { valid = false }
        })
        if (valid === true) {
          this.commonalty.people.forEach(person => {
            person.day++
            let rand = Math.floor(Math.random() * this.occurents.length)
            while (person.diligence < this.occurents[rand].diligence[0] ||
              person.diligence > this.occurents[rand].diligence[1] ||
              person.character < this.occurents[rand].character[0] ||
              person.character > this.occurents[rand].character[1]) {
                rand = Math.floor(Math.random() * this.occurents.length)
            }
            person.event.current = {
              accept: this.occurents[rand].accept,
              decline: this.occurents[rand].decline,
              description: this.occurents[rand].description,
              id: this.occurents[rand].id,
              name: this.occurents[rand].name
            }
            person.event.history.push(this.occurents[rand].id)
            person.event.done = false
          })
          this.commonalty.day++
          this.$emit('nextDay', this.commonalty)
          this.nextDayAble = 0
        }
        else {
          console.log('zrób wszystkie eventy!')
        }
        this.reload = true
      },0)
    },
    action (data) {
      this.reload = false
      let active = data.i
      let effects = data.effects
      this.commonalty.people[active].event.done = true
      effects.forEach(effect => {
        this.makeEffect(effect, active)
      })
      this.nextDayAble = this.chceckNextDayAble()
      this.reload = true
      this.$emit('updateToDb', this.commonalty)
    },
    makeEffect (effect, active) {
      switch (effect.type) {
        case 'balance':
          this.balanceEffect(effect, active)
          break
        case 'character':
          this.characterEffect(effect, active)
          break
        case 'diligence':
          this.diligenceEffect(effect, active)
          break
        case 'people':
          this.peopleEffect(effect, active)
          break
      }
    },
    balanceEffect (effect, active) {
      let val = Number(effect.value)
      if (val > 0) { this.commonalty.people[active].profit += val }
      else { this.commonalty.people[active].loss += val }
      this.commonalty.balance += val
    },
    characterEffect (effect, active) {
      let val = Number(effect.value)
      if (effect.self === true) {
        this.commonalty.people[active].character += val
        if (this.commonalty.people[active].character > 399) { this.commonalty.people[active].character = 399 }
      } else {
        if (effect.random == true) {
          let rand = Math.floor(Math.random() * this.commonalty.people.length)
          this.commonalty.people[rand].character += val
          if (this.commonalty.people[rand].character > 399) { this.commonalty.people[rand].character = 399 }
        } else {
          for (var i = 0; i < this.commonalty.people.length; i++) {
            this.commonalty.people[i].character += val
            if (this.commonalty.people[i].character > 399) { this.commonalty.people[i].character = 399 }
          }
        }
      }
    },
    diligenceEffect (effect, active) {
      let val = Number(effect.value)
      if (effect.self === true) {
        this.commonalty.people[active].diligence += val
        if (this.commonalty.people[active].diligence > 399) { this.commonalty.people[active].diligence = 399 }
      } else {
        if (effect.random === true) {
          let rand = Math.floor(Math.random() * this.commonalty.people.length)
          this.commonalty.people[rand].diligence += val
          if (this.commonalty.people[rand].diligence > 399) { this.commonalty.people[rand].diligence = 399 }
        } else {
          for (var i = 0; i < this.commonalty.people.length; i++) {
            this.commonalty.people[i].diligence += val
            if (this.commonalty.people[i].diligence > 399) { this.commonalty.people[i].diligence = 399 }
          }
        }
      }
    },
    peopleEffect (effect, active) {
      let val = Number(effect.value)
      if (val > 0) {
        if (effect.self === true) {
          this.commonalty.addNewPerson(this.commonalty.people[active])
        } else {
          this.commonalty.addNewRandomPerson()
        }
      }
      else {
        if (effect.self === true) {
          this.commonalty.removePreson(active)
        } else {
          let rand = Math.floor(Math.random() * this.commonalty.people.length)
          while (rand === active) {
            rand = Math.floor(Math.random() * this.commonalty.people.length)
          }
          this.commonalty.removePreson(rand)
        }
      }
    },
    chceckNextDayAble () {
      let sum = 0
      this.commonalty.people.forEach(person => {
        if (person.event.done) { sum++ }
      })
      return sum
    }
  },

  created () {
    this.commonalty = this.commonaltyData
    this.occurents = this.occurentsData
    this.nextDayAble = this.chceckNextDayAble()
  }
}
</script>
