<template>
  <v-content>
    <v-container fluid>
      <v-layout align-center justify-center>
        <v-flex xs12 sm10 md8>
          <v-card>
            <v-card-text>
              <h1>Event manager</h1>
            </v-card-text>
          </v-card>
          <v-progress-linear v-if="occurents.loading" color="green" :indeterminate="occurents.loading"></v-progress-linear>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center mt-3 v-if="!occurents.loading">
        <v-flex xs12 sm10 md8 offset-sm0>
          <v-card>
            <v-card-title>
              <h3>Create new event</h3>
            </v-card-title>
            <v-card-text>
              <v-form v-model="newEvent.form">
                <v-text-field
                  v-model="newEvent.name"
                  :rules="newEvent.rules.nameRules"
                  :counter="25"
                  label="Name"
                  prepend-icon="short_text"
                  required
                ></v-text-field>
                <v-textarea
                  v-model="newEvent.description"
                  :rules="newEvent.rules.descriptionRules"
                  label="Description"
                  :counter="255"
                  prepend-icon="notes"
                  required
                  :rows="3"
                ></v-textarea>
                  <v-flex class="px-3">
                    <v-range-slider
                      v-model="newEvent.diligence"
                      :max="399"
                      :min="100"
                      :thumb-label="true"
                      :color="color((newEvent.diligence[0] + newEvent.diligence[1])/2)"
                      label="Diligence"
                    ></v-range-slider>
                  </v-flex>
                  <v-flex class="px-3">
                    <v-range-slider
                      v-model="newEvent.character"
                      :max="399"
                      :min="100"
                      :thumb-label="true"
                      :color="color((newEvent.character[0] + newEvent.character[1])/2)"
                      label="Character"
                    ></v-range-slider>
                  </v-flex>
                  <v-layout row wrap justify-space-between>
                    <v-flex xs12 sm6 md6>
                      <v-card>
                        <v-card-title>Accept</v-card-title>
                        <v-card-text>
                          <span v-if="newEvent.accept.length == 0">No reactions</span>
                          <events-iterator v-else @chg="addAccept($event)" @remove="removeAccept($event)" :events="newEvent.accept"></events-iterator>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn @click="newEvent.addNewReaction('accept')" block flat green>Add new reaction</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md6>
                      <v-card>
                        <v-card-title>Decline</v-card-title>
                        <v-card-text>
                          <span v-if="newEvent.decline.length == 0">No reactions</span>
                          <events-iterator v-else @chg="addDecline($event)" @remove="removeDecline($event)" :events="newEvent.decline"></events-iterator>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn @click="newEvent.addNewReaction('decline')" block flat green>Add new reaction</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-flex>
                  </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="save()" block :disabled="saving" :loading="saving" class="white--text" color="green">Add new event</v-btn>
            </v-card-actions>
          </v-card>
          <v-progress-linear v-if="occurents.loading" color="green" :indeterminate="loading"></v-progress-linear>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center mt-3 v-if="occurents.empty">
        <span class="display-2 grey--text text-md-center">No events created yet!</span>
      </v-layout>
      <occurents-iterator :occurents="occurents.Occurents" @remove="removeOccurent($event)" v-else></occurents-iterator>
    </v-container>
    <v-dialog v-if="removeDialog" v-model="removeDialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Remove event</v-card-title>
        <v-card-text>
          Are you sure you want to remove <b>{{occurents.Occurents[removingItem].name}}</b> event?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            flat
            :loading="removing"
            @click="removeItem(occurents.Occurents[removingItem].id)"
          >Yes
          </v-btn>
          <v-btn color="green" :loading="removing" dark @click="removeDialog=false; removingItem=null">
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-content>
</template>

<script>
import Occurents, {EventCreator} from '../myCommonalty/occurents'
import EventsIterator from '../../components/EventsIterator/eventsIterator.vue'
import OccurentsIterator from '../../components/OccurentsIterator/occurentsIterator.vue'
import {createId} from '../../components/functions/shared.js'
export default {
  name: 'EventManager',
  components: {EventsIterator, OccurentsIterator},
  data: () => {
    return {
      occurents: new Occurents(),
      saving: false,
      newEvent: new EventCreator(),
      removeDialog: false,
      removingItem: null,
      removing: false
    }
  },

  methods: {
    async save () {
      return new Promise(async resolve => {
        this.saving = true
        if (this.newEvent.isValid()) {
          let newEvent = {
            id: createId('e_'),
            name: this.newEvent.name,
            description: this.newEvent.description,
            diligence: this.newEvent.diligence,
            character: this.newEvent.character,
            accept: this.newEvent.accept,
            decline: this.newEvent.decline
          }
          await this.newEvent.saveToDb(newEvent)
          this.occurents.addNewOccurent(newEvent)
        }
        else {
          console.log('Correct your event!')
        }
        resolve()
        this.saving = false
      })
    },

    addAccept (i) {
      this.newEvent.accept[i.index] = i.event
    },
    removeAccept (i) {
      this.newEvent.accept.splice(i, 1)
    },
    removeDecline (i) {
      this.newEvent.decline.splice(i, 1)
    },
    addDecline (i) {
      this.newEvent.decline[i.index] = i.event
    },
    removeOccurent (i) {
      this.removingItem = i
      this.removeDialog = true
    },

    async removeItem (i) {
      return new Promise(resolve => {
        this.removing = true
        this.occurents.removeFromDb(i)
        this.occurents.Occurents.splice(this.removingItem, 1)
        this.removing = false
        this.removeDialog = false
        resolve()
      })
    },

    color (value) {
      if (value < 133) return 'red'
      if (value < 166) return 'orange'
      if (value < 200) return 'yellow'
      if (value < 233) return 'lime'
      if (value < 266) return 'green'
      if (value < 300) return 'teal'
      if (value < 333) return 'blue'
      if (value < 366) return 'indigo'
      if (value < 400) return 'deep-purple'
    }
  }
}
</script>
